<div class="container">
    <div class="row text-center">
        <div class="alert alert-danger">
            <h1>You've reached the end of internet !! GO BACK!!!</h1>
        </div>
        <hr />
        <a class="btn btn-success" asp-controller="Movies" asp-action="Index">HOME PAGE</a>
    </div>
</div>